<div class="container py-5">

    <header class="mb-5">
      <h1 class="fw-bold text-secondary">¡Hola, {{ nombreUsuario }}!</h1>
    </header>
  
    <div class="row g-4"> 

        <div class="col-12 col-lg-6"> 
           
        <section aria-labelledby="estadisticas" class="mb-4">
            <h2 id="estadisticas" class="h4 mb-4">Tus estadísticas</h2>
            <div class="border border-secondary rounded p-3">
            
            <p class="text-muted">uso de prendas</p>
            </div>
        </section>

      <!--Sugerencias -->

      <section aria-labelledby="sugerencias">

        <h2 id="sugerencias" class="h4 mb-3">Sugerencias personalizadas</h2>
        <div class="border border-secondary rounded p-3">
          <!--Recomendaciones basadas en estadísticas -->
          <p class="text-muted">[Recomendaciones de outfits]</p>
        </div>
      </section>

    </div>


    <div class="col-12 col-lg-6"> 
        <h2 class="h4 mb-4">Planificacion de outfits</h2>
        
            <app-calendario></app-calendario>
    </div>
  </div>
</div>