<div class="panel panel-primary">
    <div class="panel-heading"> <!--grande y puede ser centrado o a la izq-->
      <h1>¡Hola, {{ nombreUsuario }}!</h1>
    </div>
  

    <!--Puede ser el calendario ocupando toda la col izq, y luego la derecha dividida en dos filas. Arriba espacio para las estadisticas y abajo los links-->
    <div class="row"> 
        <div class="col-6"> 
            <h2>¿Buscas consejos para mejorar tu armario y tu estilo?</h2><br>
            <h4>Te recomendamos algunos articulos:</h4><br>
            <a href="https://tomouncafe.wordpress.com/2024/12/17/que-es-un-smart-closet/">¿Que es un smart closet?</a><br>
            <a href="https://tomouncafe.wordpress.com/2025/02/15/tips-para-comprar-ropa/">Tips para comprar ropa</a><br>
            <a href="https://tomouncafe.wordpress.com/2025/01/13/como-llevar-accesorios/">¿Como llevar accesorios?</a><br>
        </div>
        <div class="col-6"> 
            <h2>Mi planificacion de outfits</h2>
            <!-- aqui iria el calendario-->
            

        </div>

    </div>



</div>