<div class="container py-5">

    <h1 class="my-4 pt-4">Armarios de {{ nombreUsuario }}</h1>
  
    <div *ngIf="closets.length==0">
        <p class="mb-4 text-center fs-2">Aun no tienes armarios</p>
    </div>   

    <!--si tiene algun closet, muestro lista y filtros-->
    <div *ngIf="closets.length>0">

      <!--filtro para buscar armario por nombre-->
      <div class="row justify-content-end mb-5">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-lg-end">
          
          <label for="filterCloset" class="form-label fw-semibold fs-5">Filtrado por: {{closetFilter}}</label>
          
          <input type="text" id="filterCloset" [(ngModel)] = "closetFilter" placeholder="Nombre del armario" aria-label="filtrar por nombre del armario">
        
        </div>

      </div>
      
    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 g-4">

      <!--Crear nuevo armario -->

      <!--Abre un modal para introducir el nombre del nuevo armario-->
      <div class="col text-center">

        <a href="#" data-bs-toggle="modal" data-bs-target="#nuevoClosetModal" class="text-decoration-none">
            <img src="/icons/add.svg" alt="Nuevo armario" width="80" class="mb-2">
            <div class="new fw-semibold">Nuevo armario</div>
        </a>

      </div>
  
      <!-- Listado de armarios existentes -->
      <!--Se filtran por nombre-->
      <div *ngFor="let closet of closets  | closetListFilter: closetFilter" class="col text-center">

        <!--al hacer clic te lleva al 'interior' del closet seleccionado-->
        <a [routerLink]="['/closet', closet.id]" class="text-decoration-none text-dark">
            
            <img src="/icons/closet-icon.svg" alt="armario" width="80" class="mb-2">
            
            <div class="mb-3">

              <!--si es un closet compartido lo indico con un icon-->
            <span *ngIf="closet.compartido" class="me-1" title="compartido contigo">
              <i class="bi bi-person-add text-info" aria-hidden="true"></i>
            </span> 
            
            {{ closet.nombre }}
            </div>
        </a>
      </div>

     </div>
    </div>
  </div>

  <!-- modal para crear closet -->

  <div class="modal fade" id="nuevoClosetModal" tabindex="-1" aria-labelledby="nuevoClosetLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header bg-primary">
            <h5 class="modal-title" id="nuevoClosetLabel">Crear nuevo armario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
            <input type="text" class="form-control" placeholder="Nombre del armario" [(ngModel)]="nombreCloset">
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="crearCloset()">Crear</button>
        </div>
        
      </div>
    </div>
  </div>