h1{
    color: #3c79b9ff;
  }


.primera, .segunda{
    max-width: 300px; 
    max-height: 300px;
    border-radius: 5%;
  }

.featurette-divider{
    color: #ccaff9ff;
    border-top-width: 0.3rem;
    /*border-style:dashed;*/
  }
