<div class="container pb-5">

  <div class="prueba text-center">
      <img src="logo_letras_2.png" width="50%" max-height="40%">
  </div>

  <hr class="featurette-divider">

  <div class="row featurette align-items-center mb-5 pt-4">
    <div class="col-md-7 mt-4">
      
      <h1 class="fw-bold mb-4 pb-3">¿Te cuesta decidir qué ponerte?</h1>
      <!--<h3 class="fw-semibold mb-4">¡Convierte tu armario en uno digital!</h3>-->

      <p class="lead mb-4 pb-3">
        Con Outfitted, digitaliza tu ropa, organízala, crea outfits y planifica tus looks semanales.
        Ideal para mantener el control de lo que usas, ahorrar tiempo y redescubrir tu estilo.
      </p>

      
      <button class="btn btn-outline-secondary" [routerLink]="['/funcionamiento']">
        Más información
      </button>
    </div>

    <div class="col-md-5 text-center mt-4 mt-md-4">
      
      <img
        src="/cortada.jpg"
        alt="Ejemplo de armario digital"
        class="img-fluid primera"
      >
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Sección 2: Comparte tu estilo -->
  <div class="row featurette align-items-center my-5">
    <div class="col-md-7 order-md-2">
      <h1 class="fw-bold mb-4 pb-3">¡Comparte tu estilo!</h1>
      <p class="lead mb-4 pb-3">
        También podrás compartir tu armario con otros usuarios de Outfitted para que te ayuden a elegir o crear tus próximos looks.
      </p>

      <button class="btn btn-outline-secondary" [routerLink]="['/registro']">
        Comienza ahora
      </button>
    </div>

    <div class="col-md-5 order-md-1 text-center mt-4 mt-md-0">
      <img
        src="/closet-compartir.jpg"
        alt="Compartir estilo con otros usuarios"
        class="img-fluid segunda"
      >
    </div>
  </div>

</div>