<div class="container my-5">

<a [routerLink]="['/closet', closetId]" class="btn btn-link">&larr;Volver</a>

<h2 class="mb-4 text-center">Editar prenda</h2>

<div class="row justify-content-center">

  <div class="col-12 col-md-6 col-lg-6">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data"
          novalidate class="px-5 py-4"> 

      <div class="form-group mb-3">
          <label for="imagenActual" class="form-label">Imagen actual:</label><br>
          <img [src]="imagenActualUrl" class="img-thumbnail" alt="Imagen actual de la prenda">
      </div>
        
      <div class="form-group mb-3">
          <label for="nuevaImagen" class="form-label">Cambiar imagen (opcional)</label>
          <input type="file" class="form-control" id="nuevaImagen" (change)="archivar($event)">
      </div>

      <div class="form-group mb-3">
          <label for="color" class="form-label">Color:</label>
          <input type="text" class="form-control" id="color" formControlName="color"
                aria-label="Modifica el color de tu prenda" required
                [class.is-invalid]=" myForm.get('color')?.invalid && myForm.get('color')?.touched">
      
          <div class="invalid-feedback">
            Debes rellenar este campo
          </div>

      </div>

      <div class="form-group mb-3">
        <label for="categoria_id" class="form-label">Categoría:</label>
        <select class="form-select" formControlName="categoria_id" id="categoria_id"
                aria-label="Edita la categoria" required
                [class.is-invalid]="myForm.get('categoria_id')?.invalid && myForm.get('categoria_id')?.touched">
          <option *ngFor="let categoria of categorias" [value]="categoria.id"> 
              {{categoria.nombre}}
          </option>
        </select>

        <div class="invalid-feedback">
          Debes seleccionar una categoría
        </div>

      </div>

      <div class="form-group mb-3">
          <label for="temporada_id">Temporada:</label>
          <select class="form-select" formControlName="temporada_id" id="temporada_id"
                  aria-label="Edita la temporada de la prenda" required
                  [class.is-invalid]="myForm.get('temporada_id')?.invalid && myForm.get('temporada_id')?.touched">
            <option *ngFor="let temporada of temporadas" [value]="temporada.id"> 
                {{temporada.nombre}}
              </option>
          </select>

        <div class="invalid-feedback">
          Debes seleccionar una temporada
        </div>
      </div>

        <div class="form-group mb-3">
          <label for="estilo_id" class="form-label">Estilo:</label>
          <select class="form-select" formControlName="estilo_id" id="estilo_id"
                  aria-label="Edita el estilo de la prenda" required
                  [class.is-invalid]="myForm.get('estilo_id')?.invalid && myForm.get('estilo_id')?.touched">
            <option *ngFor="let estilo of estilos" [value]="estilo.id"> 
                {{estilo.nombre}}
              </option>
          </select>

          <div class="invalid-feedback">
            Debes seleccionar un estilo
          </div>
        </div>
      
        
      <button type="submit" class="btn btn-secondary mt-2" id="prenda_edit">Editar</button>
  </form>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
</div>
</div>
</div>





