<div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-outline-secondary" (click)="cambiarMes('anterior')">
      ← Anterior
    </button>
    <h3>{{ viewDate | date:'MMMM yyyy' }}</h3>
    <button class="btn btn-outline-secondary" (click)="cambiarMes('siguiente')">
      Siguiente →
    </button>
</div>
  
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    (viewDateChange)="onViewDateChange($event)"
    (eventClicked)="handleEvent($event.event)">
  </mwl-calendar-month-view>
