<div class="container my-5">


<!--link para volver al listado-->

<a [routerLink]="['/closet', idCloset]" class="btn btn-link text-secondary mb-3">&larr;Volver</a>

<h2 class="mb-4 text-center">Crear nueva prenda</h2>

<div class="row justify-content-center">

  <div class="col-12 col-md-6 col-lg-6">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()"
          enctype="multipart/form-data" novalidate class="px-5 py-4"> 

      
      <div class="form-group mb-3">
          <label for="imagen" class="form-label">Imagen:</label>
          <input class="form-control" type="file" id="imagen" aria-label="Sube la imagen de tu prenda" required
                (change)="archivar($event)" [class.is-invalid]="!imagenSeleccionada && myForm.touched">
      

          <div class="invalid-feedback">
            Debes subir una imagen
          </div>

      </div>

      <div class="form-group mb-3">
          <label for="color" class="form-label">Color:</label>
          <input type="text" class="form-control" id="color" placeholder="Escribe un color"
           formControlName="color" aria-label="Escribe el color de tu prenda" required
           [class.is-invalid]=" myForm.get('color')?.invalid && myForm.get('color')?.touched">
      
          <div class="invalid-feedback">
            Debes rellenar este campo
          </div>
      </div>


      <div class="form-group mb-3">
        <label for="categoria_id" class="form-label">Categoría:</label>
        <select class="form-select" formControlName="categoria_id" id="categoria_id"
                aria-label="Selecciona una categoria" required
                [class.is-invalid]="myForm.get('categoria_id')?.invalid && myForm.get('categoria_id')?.touched">
          <option *ngFor="let categoria of categorias" [value]="categoria.id"> 
              {{categoria.nombre}}
          </option>
        </select>

        <div class="invalid-feedback">
          Debes seleccionar una categoría
        </div>

      </div>

      <div class="form-group mb-3">
        <label for="temporada_id" class="form-label">Temporada:</label>
        <select class="form-select" formControlName="temporada_id" id="temporada_id"
                aria-label="Selecciona una temporada" required
                [class.is-invalid]="myForm.get('temporada_id')?.invalid && myForm.get('temporada_id')?.touched">
          <option *ngFor="let temporada of temporadas" [value]="temporada.id"> 
              {{temporada.nombre}}
          </option>
        </select>

        <div class="invalid-feedback">
          Debes seleccionar una temporada
        </div>
      </div>


      <div class="form-group mb-3">
        <label for="estilo_id" class="form-label">Estilo:</label>
          <select class="form-select" formControlName="estilo_id" id="estilo_id" 
          aria-label="Selecciona un estilo para la prenda" required
          [class.is-invalid]="myForm.get('estilo_id')?.invalid && myForm.get('estilo_id')?.touched">
            <option *ngFor="let estilo of estilos" [value]="estilo.id"> 
                {{estilo.nombre}}
              </option>
          </select>

          <div class="invalid-feedback">
            Debes seleccionar un estilo
          </div>
      </div>
      

      <button type="submit" class="btn btn-secondary mt-2" id="prenda_create">Crear</button>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger mt-4">
  {{ errorMessage }}
  </div>

  </div>
  </div>
</div>






