<div class="container py-5 my-5">

  <!--Titulo-->
  <div class="text-center mb-3">
    <h1 class="fw-bold titulo">Organiza tu armario con Outfitted</h1>
  </div>

  <div class="text-center mb-5 subtitulo">
    <h2 class="fw-semibold pt-3">En 5 sencillos pasos</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 col-md-8">

      <div id="carouselFuncionamiento" class="carousel slide" data-bs-ride="carousel" aria-label="Carrusel de como funciona Outfitted">
        
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselFuncionamiento" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Paso 1"></button>
            <button type="button" data-bs-target="#carouselFuncionamiento" data-bs-slide-to="1" aria-label="Paso 2"></button>
            <button type="button" data-bs-target="#carouselFuncionamiento" data-bs-slide-to="2" aria-label="Paso 3"></button>
            <button type="button" data-bs-target="#carouselFuncionamiento" data-bs-slide-to="3" aria-label="Paso 4"></button>
            <button type="button" data-bs-target="#carouselFuncionamiento" data-bs-slide-to="4" aria-label="Paso 5"></button>
          </div>


          <div class="carousel-inner">

            <!-- Paso 1 -->
            <div class="carousel-item active bg-slide">
              <div class="d-flex flex-column h-100 justify-content-center p-4">
                
                <div class="d-flex align-items-center justify-content-center my-4">
                  <i class="bi bi-1-circle display-1 me-3"></i>
                  <h1 class="fw-bold mb-0">Crea tu usuario</h1>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                  <p class="lead mb-0 fs-3">
                    O inicia sesión <br>si ya te registraste
                  </p>
                  <i class="bi bi-phone display-2 ms-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <!-- Paso 2 -->

            <div class="carousel-item bg-slide">
              <div class="d-flex flex-column h-100 justify-content-center p-4">
                
                <div class="d-flex align-items-center my-4 justify-content-center">
                  <i class="bi bi-2-circle display-1 me-3"></i>
                  <h1 class="fw-bold mb-0">Crea un armario</h1>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                  
                  <p class="lead mb-0 fs-3">
                    ¡Aquí comienza el orden!
                  </p>
                  <i class="bi bi-door-closed display-2 ms-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <!-- Paso 3 -->

            <div class="carousel-item bg-slide">
              <div class="d-flex flex-column h-100 justify-content-center p-4">
                
                <div class="d-flex align-items-center my-4 justify-content-center">
                  <i class="bi bi-3-circle display-1 me-3"></i>
                  <h1 class="fw-bold mb-0">Digitaliza tu ropa</h1>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                  
                  <p class="lead mb-0 fs-3">
                    Sube fotos de tus prendas<br>y clasifícalas por color o estilo
                  </p>
                  <i class="bi bi-file-image ms-2 display-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <!-- Paso 4 -->

            <div class="carousel-item bg-slide">
              <div class="d-flex flex-column h-100 justify-content-center p-4">
                
                <div class="d-flex align-items-center my-4 justify-content-center">
                  <i class="bi bi-4-circle display-1 me-3"></i>
                  <h1 class="fw-bold mb-0">Crea outfits únicos</h1>
                </div>

                <div class="d-flex align-items-center justify-content-center ">
                  
                  <p class="lead mb-0 fs-3">
                    Diviértete combinando prendas<br> y creando miles de atuendos.
                  </p>

                  <i class="bi bi-handbag ms-2 display-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <!-- Paso 5 -->

            <div class="carousel-item bg-slide">
              <div class="d-flex flex-column h-100 p-4">
                
                <div class="d-flex align-items-center justify-content-center my-4">
                  <i class="bi bi-5-circle display-1 me-3"></i>
                  <h1 class="fw-bold mb-0">Organiza tus looks</h1>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                  
                  <p class="lead mb-0 fs-3">
                  Asigna fecha de uso a tus outfits<br> y encuentralos en tu calendario.
                  </p>

                  <i class="bi bi-calendar ms-3 display-2" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFuncionamiento" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFuncionamiento" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
   </div>    
  </div>
</div>