.carousel-item {
    min-height: 350px;
  }


  
  .bg-slide {

  background-color: rgba(var(--bs-primary-rgb), 0.45);
}

i {color: var(--bs-secondary);}

h2 {background-color: var(--bs-secondary);
}
  